*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F6F4F0 !important;
    color: #3E433B !important;
}


   /* Apply Jacques-François font to all headers (h1, h2, h3, h4, h5, h6) */
   h1, h2, h3, h4, h5, h6 {
    font-family: "Jacques Francois", serif !important;
  }

  /* Apply Abel font to all paragraph text */
  p {
    font-family: 'Abel', sans-serif;
  }


i {
    margin-right: 10px;
  }

  /* Navbar Styling */
  .navbar-logo {
    padding: 15px;
    color: #3E433B;
    font-family: "League Script", serif;
    font-weight: 960;
  }

  .navbar-mainbg {
    background-color: #F5EFE7;
    padding: 0px;
  }

  #navbarSupportedContent {
    overflow: hidden;
    position: relative;
  }

  #navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
  }

  #navbarSupportedContent ul li a {
    color: #3E433B;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
  }

  #navbarSupportedContent > ul > li.active > a {
    color: #3E433B;
    background-color: transparent;
    transition: all 0.7s;
  }

  #navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
  }

  #navbarSupportedContent .active > a:not(:only-child):after {
    transform: rotate(90deg);
  }

  .hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color:#F6F4F0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
  }

  .hori-selector .right,
  .hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #F6F4F0;
    bottom: 10px;
  }

  .hori-selector .right {
    right: -25px;
  }

  .hori-selector .left {
    left: -25px;
  }

  .hori-selector .right:before,
  .hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F5EFE7;
  }

  .hori-selector .right:before {
    bottom: 0;
    right: -25px;
  }

  .hori-selector .left:before {
    bottom: 0;
    left: -25px;
  }


/***************/
/**********************Map**************************/
.map{
    padding-left: 160px;
    padding-bottom: 10px;
    width: 1300px;
    /* width:1165px;
    height:250px; */
}




.mediaicons{
    font-size: 35px;
}

iframe {
    width: 100%;
    height: 220px;
}





/***********************Form************************/
.section3formNews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 10%;
    padding-top: 8rem;
}


.formdiv{
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
     column-gap: 15rem;
     row-gap: 10px;
    height: auto;
}

.formflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.formflex input{
    padding-left: 10px;
    height: 2.75rem;
    border: 2px solid #D9E0D7;
    border-radius: 25px;
    background-color: #D9E0D7;
    
}
.contactInput{
    width: 21rem;
}

textarea {
    padding-top: 2px;
    padding-left: 10px;
    width: 43rem;
    height: 8rem;
    border: 2px solid #D9E0D7;
    border-radius: 25px;
    background-color: #D9E0D7;
    
}
.btn{
    /* color: white; */
    border: 2px solid #D9E0D7;
    border-radius: 25px;
    height: 2.75rem;
    width: 43rem;
    background-color: #D9E0D7;
    background: linear-gradient(to right, #5F6759, #D9E0D7);

    /* transition: all 0.4s ease-in-out; */
  }

.newsLetterHead {
    text-align: center;
}
.newsLetter{
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #D9E0D7;
    width: 20em;
    height: auto;
    box-shadow:  0 5px 25px rgba(1, 1, 1, 35%);
    background-image: url();
    border-radius: 10px;
    transition: width 2s, height 1s;
}



.inputNewsletter{
    width: 15rem;
    height: 2.25rem;
    border-radius: 25px;;
    background-color: #B7BEB5;
    border: 2px solid #B7BEB5;
    padding-left: 2px;
   
}
#btnNews{
    /* padding-bottom: 5px; */
    border-width: 2px;
    border-style:   solid;
    /* background-color: #5F6759; */
    background: linear-gradient(to right, #5F6759, #D9E0D7);
}
/***********fixed Data CArds*********/
.fixeddata{
    padding-top: 8rem;
    padding-left: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;

}
.dataflex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.datainfixed{
    padding-top: 25px;
    text-align: center;
    background-color: #D9E0D7;
    width: 20em;
    height: 10em;
    box-shadow:  0 5px 25px rgba(1, 1, 1, 35%);
    border-radius: 10px;
    transition: width 2s, height 1s;
}



/***********************************************************************************************************************/

.section-services {
	font-family: "Poppins", sans-serif;
	/* background-color: #e6edf7; */
	color: #202020;
	padding-top: 115px;
    padding-bottom: 50px;
    padding-left: 150px;
    width: 88%;
}

.section-services .header-section {
	margin-bottom: 34px;
}

.section-services .header-section .title {
	position: relative;
    padding-bottom: 14px;
    margin-bottom: 25px;
	font-weight: 700;
    font-size: 32px;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 50px;
	height: 3px;
	background-color: #5F6759;
    border-radius: 3px;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
    transform: translateX(30px);
	width: 10px;
	height: 3px;
	background-color: #504f93;
    border-radius: 3px;
}

.section-services .header-section .description {
	font-size: 14px;
    color: #282828;
}

.section-services .single-service {
    position: relative;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    overflow: hidden;
}

.section-services .single-service .content {
	position: relative;
	z-index: 20;
}

.section-services .single-service .circle-before {
    position: absolute;
    top: 0;
    right: 0px;
    transform: translate(40%, -40%);
    width: 150px;
    height: 150px;
    background-color: #5F6759;
    border: 6px solid #504f93;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    transition: all .6s;
}

.section-services .single-service:hover .circle-before {
	width: 100%;
	height: 100%;
	transform: none;
	border: 0;
	border-radius: 0;
	opacity: 1;
}

.section-services .single-service .icon {
	display: inline-block;
	margin-bottom: 26px;
    width: 70px;
    height: 70px;
    background-color: #5F6759;
    border-radius: 5px;
    line-height: 70px;
    text-align: center;
    color: #fff;
    font-size: 30px;
    transition: all .3s;
}

.section-services .single-service:hover .icon {
	background-color: #fff;
	color: #5F6759;
}

.section-services .single-service .title {
    margin-bottom: 18px;
	font-weight: 700;
    font-size: 23px;
    transition: color .3s;
}

.section-services .single-service:hover .title {
	color: #fff;
}

.section-services .single-service .description {
    margin-bottom: 20px;
    font-size: 14px;
    transition: color .3s;
}

.section-services .single-service:hover .description {
	/* color: #fff; */
    color: #F6F4F0;
}

.section-services .single-service a {
	position: relative;
	font-size: 18px;
    color: #202020;
    text-decoration: none;
    font-weight: 500;
    transition: color .3s;
}

.section-services .single-service:hover a {
	color: #fff; 
    color: #F6F4F0;
}

.section-services .single-service a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #5F6759;
	transition: background-color .3s;
}

.section-services .single-service:hover a:after {
	background-color: #fff;
}




.mediaicons{
    font-size: 35px;
}









.hero {
  /* background: #f9f9f9; */
  padding-top: 40px;
  border-radius: 10px;
  text-align: center;
}











/************************Footer********************/

.footerContainer{  
    background-color: #5F6759 !important;
    color: #F6F4F0;
    height: 275px !important;
   
  }

.footerContainer a {
    color: #F6F4F0;
    text-decoration: none;
  }








  @media (min-width: 992px) {
    .navbar-expand-custom {
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    .navbar-expand-custom .navbar-nav {
      -ms-flex-direction: row;
      flex-direction: row;
    }

    .navbar-expand-custom .navbar-toggler {
      display: none;
    }

    .navbar-expand-custom .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
  }


  
/*Navbar responsive*/
@media (max-width: 426px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}



    .contacthead{
        text-align: justify;
    }

    .formdiv{
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        column-gap: 15rem;
        row-gap: 10px;
        height: auto;
    }

    
    .formflex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 1rem;
        width: 20rem;
    }

    textarea, .btn {
        width: 21rem;
        
    }

    .newsLetter{
        margin-top: 50px;
        margin-left: 10px;
        padding-top: 50px;
        padding-bottom: 20px;
        width: 21em;
    
    }

    .section-services{
        /* margin-left: 10px; */
        padding-left: 10px;
    }

    .map{
        padding-left: 10px;
        width: 250px !important;
        height: 200px;
    }

}
